body {
  background: #e8eaf6;
}

.menu > .center.logo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.ui.secondary.pointing.menu {
  background: #fff;
}

.ui.secondary.pointing.menu .active.item {
  border-color: #5770FE;
  border-bottom-width: 4px;
}
